<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mage2way" translate="label" sortOrder="110">
            <label>Other Settings</label>
        </tab>
        <section id="delete-order" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Delete Orders</label>
            <tab>mage2way</tab>
            <resource>Mage2way_DeleteOrder::config_deleteorder</resource>
            <group id="general" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="enable" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Delete Order Option In Order View</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>